@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "cocogoose_trial";
  src: url("../fonts/cocogoose_trial.woff");
}

/* CSS variables */

:root {
  --primary-color: #272a31;
  --accent-color: #ec5242;
  --grey-color: #565656;
  --white-color: #d3d3d3;
  --font-sans: 'Poppins', sans-serif;
  --font-face: 'cocogoose_trial', sans-serif;
}

/* Reset default styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting font family and size */

html {
  font-family: var(--font-sans);
  font-size: 62.5%;
  color: var(--primary-color);
}

/* Setting mobile first styles */

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

header {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

header .header__logo {
  display: none;
}

header nav .header__ul {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  height: 44px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  list-style-type: none;
}

header nav ul li .header__logo {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2.8rem;
  color: var(--primary-color);
  text-decoration: none;
}

header .nav__button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  border-style: none;
  text-decoration: none;
}

header .nav__button i {
  font-size: 2rem;
}

header .nav__button:hover {
  color: white;
  background-color: var(--primary-color);
}

header .nav__button:active {
  color: white;
  background-color: var(--secondary-color);
}

header .nav__button:disabled,
header .nav__button[disabled] {
  color: var(--neutral-color);
  background-color: white;
}

header .desktop-menu-container {
  display: none;
}

.mobile-menu-container {
  position: fixed;
  inset: 0;
  background: rgba(236, 82, 66, 0.8);
  color: var(--primary-color);
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(0.5rem);
}

.close-button {
  padding: 0.5rem;
  color: var(--primary-color);
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-content: flex-end;
  margin-top: 3rem;
  margin-left: 14rem;
}

.mobile-menu-ul {
  margin-top: 8rem;
  margin-left: 4rem;
}

.mobile-menu-ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.mobile-menu-ul a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
}

.visible {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--works-color);
}

.headline {
  padding: 3rem 3rem 6rem 3rem;
  width: 100%;
  background-image: url(../img/headline-bg-mobile-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 1;
}

.headline h1 {
  font-family: var(--font-face);
  font-size: 2.6rem;
  color: var(--accent-color);
  padding-bottom: 3rem;
  background-size: cover;
}

.headline h2 {
  font-family: var(--font-sans);
  font-size: 2rem;
  font-weight: 400;
  color: var(--accent-color);
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.headline p {
  padding: 1rem 1rem 2rem 1rem;
  background-color: #f7f7f7;
  border: solid 1px #fff;
  font-size: 1.2rem;
}

.headline h3 {
  font-family: var(--font-face);
  font-size: 2rem;
  color: var(--grey-color);
  margin-top: 2rem;
}

.headline span {
  font-size: 1.2rem;
}

.program {
  width: 100%;
  padding: 3rem 1.6rem 1.6rem 1.6rem;
  background: url(../img/bg-1.png) repeat left top;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program .program-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 3.5rem 0;
}

.program h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.program .program-separator {
  border: solid 1px var(--accent-color);
  width: 28%;
}

.program__article {
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 1.2rem;
  padding: 1.4rem;
  display: grid;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.4rem;
  grid-template-columns: 10% 24% 62%;
}

.program__article .article-img {
  text-align: center;
}

.program__article img {
  width: 100%;
}

.program__article .article-title {
  text-align: left;
}

.program__article h3 {
  font-size: 1.2rem;
  color: var(--accent-color);
}

.program .btn-see-program {
  display: none;
}

.btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 2rem;
  margin: 2rem 0;
  border: 1px solid var(--accent-color);
}

.btn:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn:active {
  color: white;
  background-color: var(--secondary-color);
}

.btn:disabled,
.btn[disabled] {
  color: var(--neutral-color);
  background-color: white;
}

.speakers {
  width: 100%;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 100%;
  row-gap: 6rem;
  padding: 0 3rem 6rem 4rem;
}

.speakers-card {
  display: grid;
  grid-template-columns: 26% 74%;
  column-gap: 2rem;
}

.speakers .speakers__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem 0 2rem 0;
}

.speakers h2 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.speakers .speakers-separator {
  border: solid 1px var(--accent-color);
  width: 14%;
}

.speakers-card .img-container {
  position: relative;
}

.speakers-card .bg-img {
  position: absolute;
  top: 0;
  left: -1.5rem;
  z-index: -1;
}

.speakers-card .speakers-img {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  left: 0;
}

.speakers-card .speakers-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.speakers-card .speakers-subtitle {
  color: var(--accent-color);
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
}

.speakers-card .speakers-par {
  width: 100%;
}

.btn-2 {
  width: 100%;
  color: var(--primary-color);
  background-color: #fff;
  text-align: center;
  padding: 1.4rem;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 0 2rem 0;
}

.partner {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  background-color: #414246;
  padding: 3.5rem 0 4rem 0;
}

.footer .footer__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.footer h2 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

.footer .footer-separator {
  border: solid 1px var(--accent-color);
  width: 14%;
}

.partner .logos {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.partner img {
  width: 30%;
}

.creative-commons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
